@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url(./LotteMartDreamMedium.woff2) format('woff2'), url(./LotteMartDreamMedium.woff) format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url(./LotteMartDreamBold.woff2) format('woff2'), url(./LotteMartDreamBold.woff) format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url(./LotteMartDreamLight.woff2) format('woff2'), url(./LotteMartDreamLight.woff) format('woff');
}
.lottemartdream * {
 font-family: 'LotteMartDream', sans-serif;
}