@font-face {
    font-family: 'HSDookubi';
    src: url(./HS%E1%84%83%E1%85%AE%E1%84%81%E1%85%A5%E1%84%87%E1%85%B5%E1%84%8E%E1%85%A6.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}