/*
 * Jeju Myeongjo (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Jeju Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/jeju-myeongjo-400.eot);
    src: url(./fonts/jeju-myeongjo-400.eot) format('embedded-opentype'),
        url(./fonts/jeju-myeongjo-400.woff2) format('woff2'), url(./fonts/jeju-myeongjo-400.woff) format('woff'),
        url(./fonts/jeju-myeongjo-400.ttf) format('truetype');
}
