@font-face {
    font-family: 'GoodNeighbors-Good-Neighbors-Bold';
    src: url('./fonts/goodneighbors-good-neighbors-bold-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
