@font-face {
  font-family: 'SungDongMyungjo';
  font-style: normal;
  font-weight: 400;
  src: url(./SungDongMyungjoR.woff2) format('woff2'), url(./SungDongMyungjoR.woff) format('woff');
}

@font-face {
  font-family: 'SungDongMyungjo';
  font-style: normal;
  font-weight: 700;
  src: url(./SungDongMyungjoB.woff2) format('woff2'), url(./SungDongMyungjoB.woff) format('woff');
}

.sungdongmyungjo * {
 font-family: 'SungDongMyungjo', serif;
}
