@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lottemarthappy-400.woff2') format('woff2'), url('./fonts/lottemarthappy-400.woff') format('woff');
}

@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/lottemarthappy-700.woff2') format('woff2'), url('./fonts/lottemarthappy-700.woff') format('woff');
}

.lottemarthappy * {
    font-family: 'LotteMartHappy', sans-serif;
}
