@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('./fonts/chungbuknationaluniversity-regular-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
