@font-face {
    font-family: '국립박물관문화재단클래식M';
    src: url(./%EA%B5%AD%EB%A6%BD%EB%B0%95%EB%AC%BC%EA%B4%80%EB%AC%B8%ED%99%94%EC%9E%AC%EB%8B%A8%ED%81%B4%EB%9E%98%EC%8B%9DM.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}