@font-face {
    font-family: 'Hankc';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/hankc-400.woff2') format('woff2'), url('./fonts/hankc-400.woff') format('woff');
}

.hankc * {
    font-family: 'Hankc', serif;
}
