@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/godo-400.woff2') format('woff2'), url('./fonts/godo-400.woff') format('woff');
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/godo-700.woff2') format('woff2'), url('./fonts/godo-700.woff') format('woff');
}

.godo * {
    font-family: 'Godo', sans-serif;
}
