@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url(./GodoM.woff2) format('woff2'), url(./GodoM.woff) format('woff');
}

@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url(./GodoB.woff2) format('woff2'), url(./GodoB.woff) format('woff');
}

.godo * {
 font-family: 'Godo', sans-serif;
}
