@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/nanum-myeongjo-400.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/nanum-myeongjo-700.ttf) format('truetype');
}
@font-face {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 800;
    src: url(./fonts/nanum-myeongjo-800.ttf) format('truetype');
}
