@font-face {
    font-family: 'BareunDotum';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/bareundotum-400.woff2') format('woff2'), url('./fonts/bareundotum-400.woff') format('woff');
}
