/*
 * KoPub Batang (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 300;
  src: url(./KoPubBatang-Light.eot?#iefix);
  src: url(./KoPubBatang-Light.eot?#iefix) format('embedded-opentype'),
       url(./KoPubBatang-Light.woff2) format('woff2'),
       url(./KoPubBatang-Light.woff) format('woff'),
       url(./KoPubBatang-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 400;
  src: url(./KoPubBatang-Regular.eot?#iefix);
  src: url(./KoPubBatang-Regular.eot?#iefix) format('embedded-opentype'),
       url(./KoPubBatang-Regular.woff2) format('woff2'),
       url(./KoPubBatang-Regular.woff) format('woff'),
       url(./KoPubBatang-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'KoPub Batang';
  font-style: normal;
  font-weight: 700;
  src: url(./KoPubBatang-Bold.eot?#iefix);
  src: url(./KoPubBatang-Bold.eot?#iefix) format('embedded-opentype'),
       url(./KoPubBatang-Bold.woff2) format('woff2'),
       url(./KoPubBatang-Bold.woff) format('woff'),
       url(./KoPubBatang-Bold.ttf) format('truetype');
}
