@font-face {
    font-family: 'Dosuguan';
    src: url(./%E1%84%83%E1%85%A9%E1%84%89%E1%85%A5%E1%84%80%E1%85%AA%E1%86%AB%E1%84%8E%E1%85%A6.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}