@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: url(./8QIVdjzHisX_8vv59_xMxtPFW4IXROws-6M7Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  src: url(./8QIYdjzHisX_8vv59_xMxtPFW4IXROws8xgeQsJ29g.ttf) format('truetype');
}
