@font-face {
  font-family: 'SungDongGothic';
  font-style: normal;
  font-weight: 700;
  src: url(./SungDongGothicB.woff2) format('woff2'), url(./SungDongGothicB.woff) format('woff');
}

@font-face {
  font-family: 'SungDongGothic';
  font-style: normal;
  font-weight: 800;
  src: url(./SungDongGothicEB.woff2) format('woff2'), url(./SungDongGothicEB.woff) format('woff');
}

.sungdonggothic * {
 font-family: 'SungDongGothic', sans-serif;
}